.title{
    padding-top: 90px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.acercade-left{
    position: relative;
    margin-top: 40px;
    text-align: center;
    width: 30%;
    font-size: 23.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 250px;
    top: 30px;
}

.image-size{
    max-height: 400px;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 15px;

}

.position-right{
    position: absolute;
    left: 1000px;
    top: 190px;
    height: fit-content;
}

.acercade-right{
    position: relative;
    margin-top: 40px;
    text-align: center;
    width: 30%;
    height: auto;
    font-size: 23.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 1070px;
    top: 50px;
}

.image-left{
    position: absolute;
    left: 240px;
    top: 670px;
}

.acercade-center{
    position: relative;
    margin-top: 40px;
    padding-bottom: 100px;
    text-align: center;
    width: 90%;
    height: auto;
    font-size: 23.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 80px;
    left: 110px;
}