.position-item{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 90px;
}

.text-content{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
}

.list-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 0 0 100px;
    gap: 40px;
    align-items: center;
}

.Link{
    text-decoration: none;
    color: black;
}

.unfound-products{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 290px;
    font-size: 35px;
    color: rgb(180, 175, 175);;
}