.limits{
    margin-top: 20px;
}

.detail-image-cnt img{
    position: relative;
    width: 25%;
    max-height: 500px;
    left: 250px;
    top: 60px;
    border-radius: 15px;
}

.detail-image{
    box-shadow: 0px 0px 15px -5px;
}

.detail-content-cnt{
    position: relative;
    width: 40%;
    top: -430px;
    left: 900px;
    height: 200px;
}

.detail-title{
    margin-bottom: 2rem;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.detail-description{
    font-size: 20px;
    
}

.detail-price{
    font-size: 30px;
    margin-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.icon-cart{
    position: relative;
    top: 4px;
    font-size: 60px;
}

.btn{
    overflow: hidden;
    border: 3px solid #077937;
    z-index: 1;
    border-radius: 10px;
}

.btn:hover{
    cursor: pointer;
}

.btn::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -200%;
    background-color:#077937;
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: -1;
}

.btn:hover::before{
    background-color: #077937;
    top: 0;
    border-radius: 0%;
}

.add-cart-btn{
    position: relative;
    width: 39%;
    top: 30px;
    padding: 10px 20px;
    color: #077937;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-cart-btn:hover{
    color: white;
    transition: 0.6s;
}

.detail-category{
    margin-top: 2rem;
    font-size: 20px ;
}

.link-category{
    color: black;
    text-decoration: none;
}

.link-category:hover{
    color: blue;
    text-decoration: underline;
}

.handlerQuantity{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.q-up{
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    border-radius: 0 15px 15px 0;
    background-color: rgb(11, 121, 224);
    color: white;
    font-size: 25px;
}

.q-up:hover{
    background-color: rgb(23, 105, 182);
    color: rgb(214, 208, 208);
}

.containerQuantity{
    border: 1px solid black;
    padding: 5px 30px 5px 30px;
}

.quant{
    position: relative;
    top: 4px;
    font-size: 20px;
}

.q-down{
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    border-radius: 15px 0 0 15px;
    background-color: rgb(11, 121, 224);
    color: white;
    font-size: 25px;
}

.q-down:hover{
    background-color: rgb(23, 105, 182);
    color: rgb(214, 208, 208);
}

